$font-family: "ProximaNovaRegular", sans-serif;
$font-family-bold: "ProximaNovaBold", sans-serif;
$font-color: #0a4766;
$light-font-color: #7c98a6;
$font-link-color: #0084b6;
$bg-color: #f2f8fa;
$link-shadow: #a3becc;
$button-color: #b0e645;
$badges-color: #8dc63f;

$pretty--color-default: $font-color;